body {
  background: url(../images/music_bg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1 {
  text-align: center;
  
}

#drum-pads {
  height: 40vh;
  width:120vw;
}

.drum-pad {
  border: 1px solid black;
  height: 20vh;
  width: 20vh;
  display: flex;
  justify-content: center;
  align-items:center;
  margin-right: 1vw;
}


#display {
 height: 10vh;
 width: 42vh;
 height: 20vh;
 display: flex;
 justify-content: center;
 align-items:center;
 font-size: 50px;
 color: white;
 font-weight: bold;
 font-size: 3em;
 text-shadow: 5px 5px 5px black;
}

.jumbotron {
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items:center;
  position:fixed;
  background: #ffb3ff;
}